/*
* Colors used in design.
*   primary: #0078aa;
*   dark: #363636;
*   light: #fff;
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.header{
  width: 100%;
  height: 580px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url(../img/lady.jpg);
}

.heading{
  position: fixed;
  top: 0px;
  width: 100%;
  height: 54px;
  background-color: white;
}

.logo{
  position: absolute;
  width: 2%;
  margin-left: 12%;
  bottom: 14px;
}

.font_nav{
  font-weight: bold;
}

.navigation{
  float: right;
  position: relative;
  margin-top: 20px;
  margin-right: 11%;
  width: 26%;
  display: flex;
  justify-content: space-between;
}

.links{
  font-size: small;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
}

.links:hover{
  color: #0078AA;
}

.main_signs{
  position: absolute;
  margin-top: 17%;
  margin-left: 12%;
  width: 35%;
}


.main_sign{
  font-size: 2.1em;
}

.description{
  width:82%;
  font-size: small;
}

.svg_container{
  width:170px;
  display: flex;
  justify-content: space-between;
}

.svg {
  cursor: pointer;
  text-align: center;
  padding-top:10px;
  height: 35px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid #0078AA;
  background-color: #0078AA;
}

.svg:hover{
  background: white;
}

path:hover{
  cursor: pointer;
  fill:#0078AA;
  stroke:red;
}

